language: node_js
node_js:
  - "4.1"
before_script:
  - npm install
  - npm install -g gulp
  - npm install -g casperjs
  - gulp dakt
  - ls
addons:
  artifacts:
    paths:
      - dist
  s3_region: "eu-west-1"
  deploy:
   region: eu-central-1
