language: node_js
node_js:
  - "4.1"
before_script:
  - npm install
  - npm install -g gulp
  - npm install -g casperjs
  - gulp dakt
addons:
  artifacts:
    paths:
      - dist
  s3_region: "us-west-1"

